version: "3.7"

services:
  dagster_postgresql:
    image: postgres:11
    container_name: dagster_postgresql_${COMPOSE_PROJECT_NAME}
    environment:
      POSTGRES_USER: "postgres_user"
      POSTGRES_PASSWORD: "postgres_password"
      POSTGRES_DB: "postgres_db"

  dagster_dagit:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: dagster_${COMPOSE_PROJECT_NAME}
    ports:
        - "0.0.0.0:${DAGSTER_PORT}:3000"
        - "0.0.0.0:26:22"  
    volumes:
        - ../../alertes-conf:/confs
        - ../code:/opt/dagster/app
        - ~/.ssh:/root/.ssh:ro
    environment:
      DAGSTER_POSTGRES_USER: "postgres_user"
      DAGSTER_POSTGRES_PASSWORD: "postgres_password"
      DAGSTER_POSTGRES_DB: "postgres_db"
    depends_on:
      - dagster_postgresql
